.background {
    background-color: rgb(70, 70, 163);
}

.clock {
    height: 300px;
    width: 300px;
    border: 15px solid rgb(68, 110, 158);
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.clockFace {
    position: relative;
    width:100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.hand {
    width: 50%;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: 0.2sec;
}

#hourHand {
    height:10px;
    background-color: red;
}